.header-navigation {
  border-bottom: 1px solid #e2e3e5;
}
.header-navigation__box {
  display: flex;
  align-items: center;
}
button {
  border: none;
  background-color: transparent;
}
.header-navigation__menu-btn {
  position: relative;
  padding: 25px 27px 25px 27px;
  margin-left: -27px;
  border-right: 1px solid #e2e3e5;
  margin-right: auto;
}
.header-navigation__menu-icon {
  width: 24px;
  height: 24px;
}
.header-navigation__header-logo {
  width: 50px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
}
.header-navigation__menu-serch {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.header-navigation__icon-serch {
  width: 24px;
  height: 24px;
}
